-webkit-text-size-adjust: none;
color: #ffffff;
box-sizing: inherit;
margin: 0;
border: 0;
font: inherit;
vertical-align: baseline;
display: block;
transition: opacity 0.325s ease-in-out, transform 0.325s ease-in-out;
padding: 4.5rem 2.5rem 1.5rem 2.5rem;
position: relative;
width: 40rem;
max-width: 100%;
background-color: rgba(27, 31, 34, 0.85);
border-radius: 4px;
transform: translateY(0);
opacity: 1;
